.audio-box {
  background-color: #0f0f17;
  border-radius: 16px;
}

.speaker_icon {
  background-size: cover;
  background-position: center;
  min-height: 20px;
  color: #a1bdce;
  min-width: 75px;
  margin: 10px 30px 0px 10px;
  border-radius: 12px;
  font-size: 64;
}

.speaker_text {
  color: #a1bdce;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.speaker_toggle {
  font-size: 48px;
  color: #a1bdce;
  margin: 10px 30px 0px 30px;
}

.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}

.speaker_bar scale trough {
  all: unset;
  background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px 0px 5px 0px;
}

.audio_label_list {
  min-width: 20px;
  margin: 0 30px 0 30px;
}

.audio_label_line,
.audio_label_line_selected {
  padding: 10px;
}


.mic_icon {
  min-height: 10px;
  min-width: 75px;
  border-radius: 12px;
  font-size: 64px;
  color: #a1bdce;
  min-width: 75px;
  margin: 10px 30px 0px 10px;
}

.mic_text {
  color: #a1bdce;
  font-size: 26px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.mic_icon_text {
  margin-left: 20px;
  margin-bottom: 20px;
}

.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 24px;
}

.mic_bar scale trough {
  all: unset;
  box-shadow: 0 6px 5px 2px #06060b;
  background-color: #232232;
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px 0px 30px 0px;
}

.audio_sep {
  color: #38384d;
  font-size: 18;
  margin: 0px 0px 0px 0px;
}
