.music_pop {
  background-color: #0f0f17;
  border-radius: 16px;
}

.music_cover_art {
  background-size: cover;
  background-position: center;
  min-height: 100px;
  box-shadow: 5px 5px 5px 5px #06060b;
  min-width: 170px;
  margin: 20px;
  border-radius: 20px;
}

.music {
  color: #a1bdce;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px 0px -15px;
}

.music_artist {
  color: #bbc5d7;
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_prev,
.music_btn_play,
.music_btn_next {
  font-family: "JetBrainsMono Nerd Font";
}

.music_btn_prev {
  color: #bbc5d7;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_play {
  color: #a1bdce;
  font-size: 48px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_btn_next {
  color: #bbc5d7;
  font-size: 32px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}

.music_bar {
  all: unset;
  border-radius: 24px;
  min-height: 13px;
  min-width: 190px;
  margin: -10px 10px 0px 0px;
}
